services:  # <--- This is the parent. Everything else must be indented under it.

  producer:
    build: .
    command: python producer.py
    ports:
      - "5000:5000"
    environment:
      - GOOGLE_CLOUD_PROJECT=amiable-flames-480721-a7
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-key.json
    volumes:
      - ./gcp-key.json:/app/gcp-key.json
    depends_on:
      - kafka

  consumer:
    build: .
    command: python consumer.py
    environment:
      - GOOGLE_CLOUD_PROJECT=amiable-flames-480721-a7
      - GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-key.json
    volumes:
      - ./gcp-key.json:/app/gcp-key.json
    depends_on:
      - kafka

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.4
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.4.4
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1